<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/29e61423df.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Schitter- a 'Schitt-ty Social Media Product'</title>
</head>

<body>
    <section class="inner">
        <h1>Schidtter</h1>
        <h4>Social Media Mayhem</h4>
        <h6>... as it should never be</h6>
        <main>
            <form action="/addPost" method="POST">
                <input type="text" id='username' name="username" placeholder="username">
                <input type="textarea" id="postForText" name="postForText" rows="5" columns="35" maxlength="1000" placeholder="message">
                <button type="submit">POST</button>
            </form>
        </main>
        <h3>Recent Activity</h3>
        <div class="solidBar"></div>
        <section class="postContainer">
            <!-- <section class="userPosts"> -->
            <% if(info.length){ %>
                <% for(let i=0; i < info.length; i++) {%>
                    <section class="userPostArea">

                    <section class="userPost">
                        <p><%= info[i].userPost %></p>

                        <section class="userName">-<%= info[i].userName %>
                        </section>
                        <section class="modify" data-id="<%= info[i]._id%>">
                            <span class="upvote"><i class="fa-solid fa-face-smile"></i></span>
                            <span><%= info[i].upvote %></span>

                            <span class="downvote"><i class="fa-solid fa-face-frown-open"></i></span>
                            <span><%= info[i].downvote %></span>

                            <span class="delete"><i class="fa-solid fa-trash"></i></span>

                            </section>
                            <!-- </section> -->
                        </section>
                        <% } %>
                            <% } else{ %>
                                <h5>There are as many posts here as there are thoughts in your head.</h5>
                                <% } %>
                    </section>
        </section>
        <h2 class="warningLabel">WARNING: Usage of this product constitutes a lack of common sense. It should not be
            used by anyone.</h2>
    </section>
</body>
<script src='main.js'></script>

</html>